{% extends 'base.html.twig' %}

{% block title %}
Web Best Practices | {{ category|capitalize }}
{% endblock %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <header class="intro-header" style="background-image: url('{{ asset('images/category/'~category~'-banner.jpg') }}')">
                <div class="container">
                    <div class="page-heading">
                        <h1>{{ categoryHeading }}</h1>
                        <hr class="small">
                        <p class="subheading">{{ categorySubheading }}</p>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
    </div>
{% endblock %}
