parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_name: ask_for_details
    database_user: ask_for_details
    database_password: ask_for_details

    secret: ThisTokenIsNotSoSecretChangeIt
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~