{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block mainbody %}
    <header class="intro-header" style="background-image: url('{{ asset(article.mainImage) }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading {{ article.titleColour }}">
                        <h1>{{ article.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ article.content | raw }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}